In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
df.shape

(13320, 9)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [15]:
for cols in df:
    print("----------------",cols.upper(),"---------------------------")
    print(df[cols].value_counts())

---------------- AREA_TYPE ---------------------------
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
---------------- AVAILABILITY ---------------------------
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
---------------- LOCATION ---------------------------
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
---------------- SIZE ---------------------------
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
---------------- SOCIETY ---------------------------
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
---------------- TOTAL_SQFT ---------------------------
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
---------------- BATH ---------------------------
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
---------------- BALCONY ---------------------------
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
---------------- PRICE ---------------------------
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64

In [16]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [18]:
# we have to drop area_type , avaialbility , society, balcony as there is no use of these feature in the prediction
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [19]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [29]:
# Filling the missing values
# loaction
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [30]:
# filling the null value in location
df['location'] =df['location'].fillna("Sarjapur  Road")

In [39]:
# filling null value in size

df['size'].isna().sum()
# 2bhk is larger in number , we will replace with that number
df['size'] =df['size'].fillna('2 BHK')

In [44]:
# filling null values on bath
df['bath'].value_counts().sum()
# replacing with median 

df['bath'] =  df['bath'].fillna(df['bath'].median())

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [46]:
# handling size columns as the alnum values are there
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [50]:
# checking the outlier in bhk 
# so we have to drop the outlier
df[df['bhk']>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [54]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [55]:
# handling the range in total_sqft
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [56]:
df['total_sqft'] = df['total_sqft'].apply(convertRange)

In [58]:
df.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

### Creat a new columns in price per square feet in lakh per feet
## Price per Sqft

In [59]:
df['Price_per_Sqft'] = df['price']*100000/df['total_sqft']

In [60]:
df

,location,size,total_sqft,bath,price,bhk,Price_per_Sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Richards Town,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [61]:
df.describe()

         total_sqft          bath         price           bhk  Price_per_Sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [62]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    400
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

1. Loaction  are in string type and ml model will not work in string type
2. There  are so many location and we have to handle then as there are so many type arroung 13320 which is no feasible soif loaction values_count<10 , we will fall them in other and rest as it is

In [67]:
df['location'] = df['location'].apply(lambda x: x.strip())
location_count = df['location'].value_counts()

In [69]:
location_count

Whitefield                        541
Sarjapur  Road                    400
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1294, dtype: int64

In [68]:
location_count_less_10 =location_count[location_count<10]
location_count_less_10

Vishwanatha Nagenahalli           9
Chennammana Kere                  9
2nd Phase JP Nagar                9
Jakkur Plantation                 9
B Narayanapura                    9
                                 ..
Bapuji Layout                     1
1st Stage Radha Krishna Layout    1
BEML Layout 5th stage             1
singapura paradise                1
Abshot Layout                     1
Name: location, Length: 1040, dtype: int64

In [70]:
df['location'] = df['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [72]:
df['location'].value_counts()

other                  2755
Whitefield              541
Sarjapur  Road          400
Electronic City         304
Kanakpura Road          273
                       ...
BTM 1st Stage            10
Basapura                 10
Sector 1 HSR Layout      10
Kalkere                  10
Nagadevanahalli          10
Name: location, Length: 255, dtype: int64

In [73]:
df.describe()

         total_sqft          bath         price           bhk  Price_per_Sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [75]:
# calculation total sqft per bhk
(df['total_sqft']/df['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [77]:
# we gonna remove the total sqft per bhk <300
df = df[(df['total_sqft']/df['bhk'])>=300]
df.describe()

         total_sqft          bath         price           bhk  Price_per_Sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [78]:
df.shape

(12530, 7)

In [80]:
df['Price_per_Sqft'].describe()
# it contain outlier that is not so great for the model

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: Price_per_Sqft, dtype: float64

In [84]:
def remove_outlier_sqft(df):
    df_output=pd.DataFrame() 
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.Price_per_Sqft)
        st = np.std(subdf.Price_per_Sqft)
        gen_df =subdf[(subdf.Price_per_Sqft>(m-st)) & (subdf.Price_per_Sqft <=(m+st))]
        df_output =pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
df = remove_outlier_sqft(df)
df.describe()

         total_sqft          bath         price           bhk  Price_per_Sqft
count  10282.000000  10282.000000  10282.000000  10282.000000    10282.000000
mean    1509.996956      2.474032     91.718675      2.576347     5669.007067
std      883.210082      0.986908     88.327858      0.900592     2292.794131
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4249.917219
50%     1286.000000      2.000000     67.000000      2.000000     5176.565008
75%     1650.000000      3.000000    100.000000      3.000000     6431.808627
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [91]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location ,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] ={
                'mean':np.mean(bhk_df.Price_per_Sqft),
                'std':np.std(bhk_df.Price_per_Sqft),
                'count': bhk_df.shape[0]
            }
            for bhk,bhk_df in location_df.groupby('bhk'):
                stats = bhk_stats.get(bhk-1)
                if stats and stats['count']>5:
                    exclude_indices =np.append(exclude_indices,bhk_df[bhk_df.Price_per_Sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis = 'index')

In [92]:
df = bhk_outlier_remover(df)

In [93]:
df.describe()

         total_sqft         bath        price          bhk  Price_per_Sqft
count   7401.000000  7401.000000  7401.000000  7401.000000     7401.000000
mean    1500.908858     2.449939    99.605978     2.502229     6129.535964
std      929.563863     1.019784    97.668099     0.932753     2438.116638
min      300.000000     1.000000    10.000000     1.000000     1300.000000
25%     1095.000000     2.000000    50.000000     2.000000     4597.701149
50%     1259.000000     2.000000    73.000000     2.000000     5666.666667
75%     1680.000000     3.000000   112.000000     3.000000     6885.758998
max    30400.000000    16.000000  2200.000000    16.000000    24509.803922

In [94]:
# removing Price_per_Sqft 
df.drop(columns=['size','Price_per_Sqft'],inplace=True)

# Cleand data

In [96]:
df.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [97]:
df.to_csv('Cleaned_data.csv')

In [98]:
X=df.drop(columns=['price'])
y=df['price']

In [99]:
X

                  location  total_sqft  bath  bhk
0      1st Block Jayanagar      2850.0   4.0    4
1      1st Block Jayanagar      1630.0   3.0    3
2      1st Block Jayanagar      1875.0   2.0    3
3      1st Block Jayanagar      1200.0   2.0    3
4      1st Block Jayanagar      1235.0   2.0    2
...                    ...         ...   ...  ...
10273                other      1200.0   2.0    2
10274                other      1800.0   1.0    1
10277                other      1353.0   2.0    2
10278                other       812.0   1.0    1
10281                other      3600.0   5.0    4

[7401 rows x 4 columns]

In [155]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.preprocessing import OneHotEncoder ,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsRegressor

In [118]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [119]:
X_train.shape,X_test.shape

((5920, 4), (1481, 4))

# Applying  Linear Regression

In [120]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [121]:
scaler = StandardScaler()
# X_train =scaler.fit_transform(X_train)
# X_test =scaler.transform(X_test)

In [164]:
lr = LinearRegression()

In [182]:
pipe1 = make_pipeline(column_trans,scaler,lr)

In [183]:
pipe1.fit(X_train,y_train)

C:\Users\kaustubh\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [185]:
y_pred_linear= pipe1.predict(X_test)

In [186]:
r2_score(y_test,y_pred_linear)

0.8828837077571241

# Apply lasso regression

In [169]:
lasso= Lasso()
pipe = make_pipeline(column_trans,scaler,lasso)

In [170]:
pipe.fit(X_train,y_train)

C:\Users\kaustubh\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [172]:
y_pred_lasso=pipe.predict(X_test)

In [173]:
r2_score(y_test,y_pred_lasso)

0.8799922829453153

# Apply Ridge

In [174]:
ridge =Ridge()

In [175]:
pipe = make_pipeline(column_trans,scaler ,ridge)

In [176]:
pipe.fit(X_train,y_train)

C:\Users\kaustubh\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [178]:
y_pred_ridge = pip.predict(X_test)

In [179]:
r2_score(y_test,y_pred_ridge)

0.882820483645999

   # Apply Knn

In [149]:
knn = KNeighborsRegressor(n_neighbors=5)

In [150]:
pipe= make_pipeline(column_trans,scaler,knn)

In [151]:
pipe.fit(X_train,y_train)

C:\Users\kaustubh\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('kneighborsregressor', KNeighborsRegressor())])

In [152]:
y_pred = pipe.predict(X_test)

In [156]:
r2_score(y_test,y_pred)

0.6634892103989216

# Apply ElasticNet Regressor

In [157]:
elastic = ElasticNet()

In [158]:
pipe = make_pipeline(column_trans,scaler,elastic)

In [159]:
pipe.fit(X_test,y_test)

C:\Users\kaustubh\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('elasticnet', ElasticNet())])

In [160]:
y_pred = pipe.predict(X_test)

In [161]:
r2_score(y_test,y_pred)

0.8303210627389465

In [180]:
print('----------Result----------')
print("Linear Regression",r2_score(y_test,y_pred_linear))
print("Lasso", r2_score(y_test,y_pred_lasso))
print("Ridge",r2_score(y_test,y_pred_ridge))

----------Result----------
Linear Regression 0.8828837077571241
Lasso 0.8799922829453153
Ridge 0.882820483645999

In [181]:
import pickle

In [187]:
pickle.dump(pipe1,open("LinearModel.pkl",'wb'))